{% extends 'base/base.html' %}

{% block content %}

    <section class="formdata" id="formdata">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="text-left mb-4">Rock Blog</h4>
                    <h3 class="text-center">Login</h3>
                    <form method="post" action=".">     
                        {% csrf_token %}
                        <div class="form-group">
                          <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" name="password"  placeholder="Password" required>
                        </div>
                          <hr class="my-3">
                          <a href="#" class="text-right text-muted" style="text-decoration:none;">Forget Password?</a>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Log In</button>
                          </div>
                      </form>
                      <p class="mt-4">Create an account<a href="#" style="text-decoration:none;"> sign up</a></p>
                </div>
            </div>
        </div>
        
    </section>
    
{% endblock %}